html,body{
    height: 100%;
}
body{
    top: 0px;
    overflow-x: hidden;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: 0px 1900px;
    display: grid;
}
@media screen and (max-width: 650px) {
    h1{
        font-size: 20px;
    }
    .navigation-wide{
        display: none;
    }
}
@media screen and (min-width: 650px) {
    .navigation-short{
        display: none;
    }  
}
.navigation-wide{
    z-index: 100;
    position: fixed;
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 10px;
    opacity: 0;
    left: 0px;
    transform: translateY(-3rem);
    animation: fadein2 1s ease 1s forwards;
    top: 0px;
    transition: top 1s;
    height: 30px;
}


#menu{
    z-index: 200;
}

#ikona{
    position: absolute;
    height: 25px;
    left: 10%;
    float: left;
    padding-top: 12px;
}
.navigation-wide a{
    font-family: 'Source Code Pro', monospace;
    position: relative;
    text-decoration: none;
    color: black;
    padding-right: 30px;
    margin-right: 20px;
    padding-left: 30px;
    padding-bottom: 3px;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
}
.menuspace{
    
    transition: top 1s;
    z-index: 3;
    position: absolute;
    width: 100%;
    background-color: white;
    opacity: 0;
    height: 50px;
    top: 0px;
    left: 0px;
    transform: translateY(-3rem);
    animation: fadein2 1s ease 1s forwards;
}
#meni{
    z-index: 100;
    width: 100%;
    background-color: white;
    position: absolute;
    top: -50vh;
    transition: top 1s;
}
#meni img{
    float: right;
    cursor: pointer;
}
.menubox a{
    z-index: 3;
    font-family: 'Source Code Pro', monospace;
    text-decoration: none;
    color: black;
    display: block;
    width: fit-content;
    padding-left: 20px;
    margin: 30px 0;
    font-weight: bold;
    font-size: 20px;
}
.menubox a::before{
    content: "";
    position: absolute;
    margin-top: 30px;
    height: 3px;
    width: 0;
    background-color: #3cdfff;
    transition: width 0.25s ease-out;
}
#home2:hover::before{
    width: 55px;
}
#skills2:hover::before{
    width: 75px;
}
#about2:hover::before{
    width: 100px;
}
#Contact2:hover::before{
    width: 185px;
}
.activehome2::before {
    content: "";
    position: absolute;
    width: 0%; 
    background-color: #3cdfff;
    animation: startunderlinehome 1s ease 1500ms forwards ;
}
.activehome1::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 0%; 
    background-color: #3cdfff;
    animation: startunderlinehome 1s ease 1500ms forwards ;
}
.activeabout2::before {
    content: "";
    position: absolute;
    width: 0%; 
    background-color: #3cdfff;
    animation: startunderlineabout 1s ease 1500ms forwards ;
}
.activeabout1::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 0%; 
    background-color: #3cdfff;
    animation: startunderlineabout 1s ease 1500ms forwards ;
}
.activeskills2::before {
    content: "";
    position: absolute;
    width: 0%; 
    background-color: #3cdfff;
    animation: startunderlineskills 1s ease 1500ms forwards ;
}
.activeskills1::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 0%; 
    background-color: #3cdfff;
    animation: startunderlineskills 1s ease 1500ms forwards ;
}
.activecontact2::before {
    content: "";
    position: absolute;
    width: 0%; 
    background-color: #3cdfff;
    animation: startunderlinecontact 1s ease 1500ms forwards ;
}
.activecontact1::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 0%; 
    background-color: #3cdfff;
    animation: startunderlinecontact 1s ease 1500ms forwards ;
}
.menuspace img{
    cursor: pointer;
    width: 30px;
}
.navigation-wide a::before{
    content: "";
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 0;
    background-color: #3cdfff;
    transition: width 0.25s ease-out;
}
#home:hover::before{
    width: 55px;
}
#skills:hover::before{
    width: 75px;
}
#about:hover::before{
    width: 100px;
}
#Contact:hover::before{
    width: 185px;
}
@keyframes startunderlinehome{
    to{
        width: 55px;
    }
}
@keyframes startunderlineabout{
    to{
        width: 100px;
    }
}
@keyframes startunderlineskills{
    to{
        width: 75px;
    }
}
@keyframes startunderlinecontact{
    to{
        width: 55px;
    }
}
@keyframes fadein2{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

p{
    font-size: 10px;
}

.first{
    
position: absolute;
  top: 200%;
  left: 40%;
  width: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: fadein 2s ease 1s forwards;
}

.tekstt{
    flex-direction: row;
    text-align: center;
    margin-right: 50px;
    margin-left: 20%;
}

h1 {
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
    margin-right: 0px;
    margin-bottom: 0;
  }
  
 #intro{
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    margin-top: 20px;
    
  }
  
  .ja {
    height: 700px;
    margin-left: auto;
  }

#scroll{
font-size: 20px;
opacity: 0;
font-weight: bold;
transform: translateY(3rem);
animation: scrollin 3s ease 7s forwards;
}

@keyframes scrollin{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

  @media screen and (max-width: 1116px) {
    .first{
        display: none;
    }
    .educationtext{
        display: none;
    }
    .intreststext{
        display: none;
    }
    .button-container{
        display: none;
    }
    .emptybar{
        display: none;
    }
    .botbar{
        display: none;
    }
  }
  @media screen and (min-width: 1116px) {
    .second{
        display: none;
    }
  }
  

  @keyframes fadein{
    to{
        top: 420px;
    }
}

@keyframes fadeouttop{
    to{
        top: -1000vh;
    }
}
  
#scrollpos{
    display: none;
}

.third {
    font-family: 'Source Code Pro', monospace;
    position: absolute;
    display: flex;
    top: 700%;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    flex-wrap: wrap;
    animation: fadein3 2s ease 1s forwards;
  }

  @keyframes fadein3{
    to{
        top: 900px;
    }
}
  
  .third li{
    list-style-type:none;
  }

  .education, .intrests {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-top: 30px;
  }
  
  .educationtext {
    margin-left: 20%;
  }
  
  .intreststext {
    margin-right: 20%;
  }
.educationtext p{
    font-size: 15px;
}

.button-container{
    position: relative;
    width: 100%;
    justify-content: center;
    text-align: center;
}

  .button {
    position: relative;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #333;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .button:hover {
    background-color: #ddd;
  }

  .emptybar{
    width: 100%;
    height: 50px;
  }

  .botbar{
    text-align: center;
    vertical-align: row;
  }

  .second{
    font-family: 'Source Code Pro', monospace;
    position: absolute;
    width: 100%;
    top: 60px;
    text-align: center;
    height: 1200px;
  }

  .second img{
    height: 600px;
  }

.second h1{
    font-family: 'Source Code Pro', monospace;
    position: absolute;
    width: 100%;
    top: 40px;
}
.second p{
    position: absolute;
    width: 100%;
    top: 220px;
    left: 100px;
    font-weight: bold;
    opacity: 0;
    transform: translateY(3rem);
    animation: scrollin 3s ease 5s forwards;
}