html,body{
    height: 100%;
}
body{
    top: 0px;
    overflow: hidden;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: 0px 1900px;
    display: grid;
    
}
#maintext, #subtitle, #above{
    position: absolute;
    transition: top 1s;
}
.textmid{
    font-family: 'Source Code Pro', monospace;
    align-items: center;
    height: 100%;
    display: flex;
    justify-content: center;
    place-content: center;
    text-align: center;
}
h1{
    font-size: 30px;
    position:absolute;
    top: 45%;
    font-family: 'Source Code Pro', monospace;
    width: max-content;
    visibility: hidden;
    animation: appear 100ms ease forwards;
}
.subtitle{
    top:52%;
    position: absolute;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadein 2s ease 5s forwards;
    
}
h1::before,
h1::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
h1::before{
    background-color: #FBF2F7;
    animation: 
    typewriter 4s steps(10) 1s forwards ;
}
h1::after {
    width: 0.125em;
    background: black;
    animation: 
    typewriter 4s steps(10) 1s forwards,
    blink 1000ms steps(2,start) infinite;
}
@keyframes appear{
    to {
        visibility: visible;
    }
}
@keyframes typewriter {
    to { left: 100%}
}
@keyframes blink {
    to {
        visibility: hidden;
    }
}
@keyframes fadein{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@media screen and (max-width: 650px) {
    h1{
        font-size: 20px;
    }
    .navigation-wide{
        display: none;
    }
    

}
@media screen and (min-width: 650px) {
    .navigation-short{
        display: none;
    }  
}
.navigation-wide{
    position: absolute;
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 10px;
    opacity: 0;
    left: 0px;
    transform: translateY(-3rem);
    animation: fadein2 1s ease 1s forwards;
    top: 0px;
    transition: top 1s;
    height: 30px;
}
#ikona{
    position: absolute;
    height: 25px;
    left: 10%;
    float: left;
    padding-top: 12px;
}
.navigation-wide a{
    font-family: 'Source Code Pro', monospace;
    position: relative;
    text-decoration: none;
    color: black;
    padding-right: 30px;
    margin-right: 20px;
    padding-left: 30px;
    padding-bottom: 3px;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
}
.menuspace{
    transition: top 1s;
    z-index: 3;
    position: absolute;
    width: 100%;
    background-color: white;
    opacity: 0;
    height: 50px;
    top: 0px;
    left: 0px;
    transform: translateY(-3rem);
    animation: fadein2 1s ease 1s forwards;
}
#meni{
    width: 100%;
    background-color: white;
    position: absolute;
    top: -50vh;
    transition: top 1s;
}
#meni img{
    float: right;
    cursor: pointer;
}
.menubox a{
    font-family: 'Source Code Pro', monospace;
    text-decoration: none;
    color: black;
    display: block;
    width: fit-content;
    padding-left: 20px;
    margin: 30px 0;
    font-weight: bold;
    font-size: 20px;
}
.menubox a::before{
    content: "";
    position: absolute;
    margin-top: 30px;
    height: 3px;
    width: 0;
    background-color: #3cdfff;
    transition: width 0.25s ease-out;
}
#home2:hover::before{
    width: 55px;
}
#skills2:hover::before{
    width: 75px;
}
#about2:hover::before{
    width: 100px;
}
#Contact2:hover::before{
    width: 185px;
}
.activehome2::before {
    content: "";
    position: absolute;
    width: 0%; 
    background-color: #3cdfff;
    animation: startunderlinehome 1s ease 1500ms forwards ;
}
.activehome1::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 0%; 
    background-color: #3cdfff;
    animation: startunderlinehome 1s ease 1500ms forwards ;
}
.activeabout2::before {
    content: "";
    position: absolute;
    width: 0%; 
    background-color: #3cdfff;
    animation: startunderlineabout 1s ease 1500ms forwards ;
}
.activeabout1::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 0%; 
    background-color: #3cdfff;
    animation: startunderlineabout 1s ease 1500ms forwards ;
}
.activeskills2::before {
    content: "";
    position: absolute;
    width: 0%; 
    background-color: #3cdfff;
    animation: startunderlineskills 1s ease 1500ms forwards ;
}
.activeskills1::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 0%; 
    background-color: #3cdfff;
    animation: startunderlineskills 1s ease 1500ms forwards ;
}
.activecontact2::before {
    content: "";
    position: absolute;
    width: 0%; 
    background-color: #3cdfff;
    animation: startunderlinecontact 1s ease 1500ms forwards ;
}
.activecontact1::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 0%; 
    background-color: #3cdfff;
    animation: startunderlinecontact 1s ease 1500ms forwards ;
}
.menuspace img{
    cursor: pointer;
    width: 30px;
}
.navigation-wide a::before{
    content: "";
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 0;
    background-color: #3cdfff;
    transition: width 0.25s ease-out;
}
#home:hover::before{
    width: 55px;
}
#skills:hover::before{
    width: 75px;
}
#about:hover::before{
    width: 100px;
}
#Contact:hover::before{
    width: 185px;
}
@keyframes startunderlinehome{
    to{
        width: 55px;
    }
}
@keyframes startunderlineabout{
    to{
        width: 100px;
    }
}
@keyframes startunderlineskills{
    to{
        width: 75px;
    }
}
@keyframes startunderlinecontact{
    to{
        width: 55px;
    }
}
@keyframes fadein2{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.findout{
    font-family: 'Source Code Pro', monospace;
    height: 30%;
    display: flex;
    position: absolute;
    text-align: center;
    width: 100%;
    justify-content: center;
    top: 90%;
}
.findout p{
    opacity: 0;
    transform: translateY(3rem);
    animation: fadein 1s ease 14s forwards;
    font-weight: bold;
}
